.home-superContainer{
    overflow: hidden;
    /* border: 1px solid red; */
}


.homeLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.homeLogo img{
    width: 30%;
    padding: 2.5rem 0 0 0 ;
}

.home-mainHead{
    text-align: center;
    line-height: 120%;
    letter-spacing: 1.5px;
    font-size: 4.5rem;
    width: 100%;
    margin-block-end: 2rem;
    margin-block-start: 2rem;
}


.home-lowerSection{
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}
.home-lowerSection img{
   width: 100%;
   margin: 0;
   padding: 0;
   /* border: 2px solid green; */
}